<main class="form-signin w-100 m-auto" style="position: relative; padding-top: 10%;">
    <form [formGroup]="formulario_inicio_sesion">
      <h1 class="h3 mb-3 fw-normal">Inicia Sesión</h1>
      
      <div class="form-floating">
        <input type="email" class="form-control" name="username" formControlName="usuario" id="floatingInput" placeholder="name@example.com" required="">
        <label for="floatingInput">Usuario o Correo</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" name="password" formControlName="contrasenia" id="floatingPassword" placeholder="Password" required="">
        <label for="floatingPassword">Contraseña</label>
      </div>
      
      <button class="btn btn-primary py-1 my-2" (click)="iniciarSesion()">Iniciar sesión</button>
      <button class="btn btn-primary py-1 mx-3" (click)="registrarme()">Registrarme</button>
    
    </form>
</main>