

<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>Inicio</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body>
    <div *ngIf="cargando" class="overlay">
        <div class="loader"></div>
    </div>
    <div class="container-fluid pt-5">
        <div class="row">
            <div class="col-md-5 col-lg-5 m-auto">
                <div class="card">
                    <h5 class="card-header">Registrarme</h5>
                    <div class="card-body">
                        <form [formGroup]="registrar_usuario">
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Nombre:</label>
                                <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre">
                            </div>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Apellido:</label>
                                <input class="form-control" type="text" placeholder="Nombre" formControlName="apellido">
                            </div>
                            <div class="mb-3">
                              <label for="recipient-name" class="col-form-label">Usuario:</label>
                              <input class="form-control" type="text" placeholder="Nombre" formControlName="usuario">
                            </div>
                            <div class="mb-3">
                              <label for="recipient-name" class="col-form-label">Contraseña:</label>
                              <input type="password" class="form-control" id="inputPassword" formControlName="contrasenia">
                            </div>
                            
                            <div class="mb-3">
                              <label for="recipient-name" class="col-form-label">Documento de identidad:</label>
                              <div class="input-group mb-3 row">
                                  <div class="col-md-4">
                                      <select class="form-select" aria-label="Default select" formControlName="tipo_documento_id" name="tipo_documento_id">
                                          <option *ngFor="let tipo of tipo_documento" value="{{tipo['id']}}">{{tipo['etiqueta']}}</option>
                                      </select>
                                  </div>
                                  <div class="col-md-8">
                                      <input type="text" class="form-control" placeholder="12345678" formControlName="numero_documento">
                                  </div>
                                </div>
                            </div>
                          </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary py-1 my-3" (click)="iniciarSesion()"> Iniciar sesión</button>
                        <button type="button" class="btn btn-primary py-1 my-3 mx-3" (click)="registrarUsuario()">Registrarme</button>
                      </div>
                </div>
            </div>       
        </div>
    </div>
</body>
