<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Creditos</title>
  </head>
    <body>
        <main>
            <div *ngIf="total_registros>0" class="container">
              
                
              <hr>
    
              <div class="row">
                <div class="col-lg-12">
                    <div class="main-box clearfix">
                        <div class="table-responsive">
                            <table class="table user-list">
                                <thead>
                                    <tr>
                                        <th><span>Número de cuenta</span></th>
                                        <th><span>Número de cuotas</span></th>
                                        <th><span>Tipo de credito</span></th>
                                        <th><span>Valor credito</span></th>
                                        <th><span>Valor cuota</span></th>
                                        <th class="text-center"><span>Fecha Aprobación</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="col " *ngFor="let credito of creditos">
                                        <td>
                                            <span class="user-subhead">{{credito['numero_cuenta']}} </span>
                                        </td>
                                        <td>
                                          {{credito['cuotas']['etiqueta']}}
                                        </td>
                                        <td>
                                          {{credito['tipo_credito']['nombre']}}
                                        </td>
                                        <td>
                                          {{credito['valor']  | currency:'COP':'symbol':'1.0-0'}}
                                        </td>
                                        <td>
                                          {{credito['valor_cuota'] | currency:'COP':'symbol':'1.0-0'}}
                                        </td>
                                        <td class="text-center">
                                            <span class="label label-default">{{credito['fecha_aprobacion']}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
              </div>
    
              <hr>
              <div aria-label="Page navigation" class="row justify-content-center">
                <div  class="col-auto btn-group">
                  <button type="button" class="btn btn-light border" (click)="listarCreditos(1)" *ngIf='pagina_actual != 1'>Primera</button>
                  <button type="button" class="btn btn-light border" (click)="listarCreditos(pagina_actual-1)" *ngIf='pagina_actual != 1'>{{pagina_actual-1}}</button>
                  <button type="button" class="btn btn-primary active">{{pagina_actual}}</button>
                  <button type="button" class="btn btn-light border" (click)="listarCreditos(pagina_actual+1)" *ngIf='pagina_actual != pagina_final'>{{pagina_actual+1}}</button>
                  <button type="button" class="btn btn-light border" (click)="listarCreditos(pagina_final)" *ngIf='pagina_actual != pagina_final'>Ultima</button>
                </div>
              </div>
              
            </div>

            <div *ngIf="total_registros==0" class="container-no">
              <div class="centrar">
                <span class="centrar">Actualmente no existen creditos registrados.</span>
              </div>
              <div *ngIf="usuario_actual_perfil_id == 2" class="centrar">
                <span class="btn btn-primary active" data-bs-toggle="button" autocomplete="off" aria-pressed="true" (click)="abrirModal()">Solicitar credito</span>
              </div>
            </div>
        </main>
    </body>
